{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>BOOK REVIEW</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem, minima id vero quae dignissimos voluptas deleniti. Soluta perferendis voluptatibus, error, excepturi accusantium, aut pariatur veniam accusamus molestias voluptatem maiores?</p>
</body>
</html>